@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap');

body {
    margin: 0;
    height: auto;
    font-family: 'Fira Sans', sans-serif;
    /*background-image: linear-gradient( 125deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );*/
    background-color: #252828;
}

#profile {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

#profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.25);
    overflow: hidden;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    margin: 0;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(240, 248, 255, 0.85);
    margin: 0;
}

main {
    max-width: 750px;
    margin: auto;
    padding: 2rem 2rem;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0.3rem 0 1.5rem 0;
}

h2 {
    color: aliceblue;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1;
    position: relative;
    border: none;
    border-radius: 10px;
    margin: 0 auto 0.7rem;
    padding: 0.7rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.75);
    color: #3a3a3d;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

button:hover, button:focus {
    background-color: rgb(255, 255, 255);
    color: #008bff;
    transform: scale(1.05);
}

.svg-icon {
    position: relative;
    top: 0.150em;
    flex-shrink: 0;
}

hr {
    width: 300px;
}

#tryhackme {
    margin-top: 1.2rem;
    text-align: center;
    transform: scale(1.2);
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
