
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: linear-gradient( 125deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 10px 0 0 0;
}

h2 {
    color: #4a82ff;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin: 0 0 0.5em 0;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(12, 12, 12, 0.5);
    overflow: hidden;
    margin: 0 auto;
}

.links {
    color: aliceblue;
    width: 50%;
    margin: 0 auto;
}

button {
    display: block;
    margin: 0 auto 10px auto;
    max-width: 400px;
    min-width: 250px;
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, 0.3);
    backdrop-filter: blur(5px);
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: rgba(241, 241, 241, 0.5);
    color: #252c2c;
}